*{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
  }
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body::-webkit-scrollbar{
    width: 8px;
}
body::-webkit-scrollbar-track{
    background-color: #cfcfcf;
}
body::-webkit-scrollbar-thumb{
    background-image: linear-gradient(-45deg, #6a5af9, #d66efd);
    border-radius: 50px;
}

:root{
    --text-primary-color: #696969;
    --link-color: #af7eeb;
    --text-hover-color: #003cff;
    --text-title-color: #494949;
    --back-ground-hover: #c9c9c9af;
}

html{
    scroll-padding-top: 85px;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

p{
    line-height: 25px;
    word-spacing: 3px;
}



#header{
    display: flex;
    flex-direction: row;
    background-color: #fff;
    width: 100%;
    height: 80px;
    justify-content: center;
    box-shadow: 0px 0px 5px 0px #999999;
}

.header__tag{
    display: flex;
    align-items: center;
}

.header__tag--logo{
    width: 80px;
    height: 80px;
    margin: 0px 10px;
}

.header__tag--name{
    font-size: 32px;
    line-height: 30px;
    text-align: center;
    color: #af7eeb;
    font-family: 'Bungee Shade', cursive;
}

.location{
    position: sticky;
    top: 0px;
    z-index: 9;
    margin: 2px 0 50px;
    width: 100%;
    height: 30px;
}

.locaton-link{
    width: 300px;
    height: 100%;
    border-bottom-right-radius: 5px;
    background-color: #fff;
    border-bottom: 1px dashed var(--back-ground-hover);
    border-right: 1px dashed var(--back-ground-hover);

}

.link{
    font-size: 19px;
    font-weight: 600;
    margin: 10px;
    color: var(--link-color);
    line-height: 30px;
}

.link:hover{
    filter: brightness(1.3);
}

.enter{
    font-size: 19px;
    font-weight: 600;
    color: var(--link-color);
    line-height: 30px;
}

#main{
    margin: 20px 50px;
}

.download{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.download-link{
    position: relative;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 600;
    color: red;
    width: auto;
}


.download-link::after{
    content: "";
    position: absolute;
    bottom: -3px;
    left: 50%;
    width: 0%;
    height: 2px;
    background-color: red;
    transition: width 0.25s ease, left 0.25s ease;
}

.download-link:hover::after{
    width: 100%;
    left: 0;
}



.title{
    text-align: center;
    font-size: 40px;
    margin: 20px;
}

.title-p1{
    margin-bottom: 70px;
    border-bottom: 1px dashed var(--text-title-color);
}

.title-p1-1{
    margin: 20px;
    font-size: 25px;
}

.decript{
    margin: 20px;
}

.step-number{
    font-weight: 600;
}

.img{
    margin: 10px 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    width: 100%;
    height: 20px;
    background-color: var(--back-ground-hover);
}

h6{
    line-height: 20px;
    text-align: end;
    margin-right: 20px;
}

@media (max-width: 739px){
    #main {
        margin: 20px 10px;
    }

    .title {
        text-align: center;
        font-size: 30px;
        margin: 20px 10px;
    }

    .download-link {
        font-size: 20px;
        font-weight: 600;
    }

    .step-img {
        width: 100%;
    }
}